h1
{
    color: blue;
}

header
{
    background-color: aquamarine;
}

nav
{
    background-color: bisque;
}

aside
{
    background-color: chocolate;
}

section
{
    background-color: beige
}

article
{
    background-color: azure;
}
footer
{
    background-color: aliceblue;
}